.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", serif;
  font-weight: 400;
  font-style: normal;
}

.home-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 95vw;
  /* height: 100vh; */
  margin-top: 85px;
  /* margin-left: 10px; */
  /* display: flexbox; */
  /* justify-content: space-between; */
  align-items: center;
}

.text-section-container{
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-left: 20px;
}

.text-section {
  flex: 1;
  text-align: left;
  position: relative;
  margin-top: 10px;
  padding-top: 4rem;
  padding-bottom: 10rem;
  padding-left: 4.5rem;
  border-left: 2px solid #a80000;
  height: 295px;
}

.slogan {
  color: #a80000;
  padding-bottom: 20px;
}

.text-section h1 {
  padding-top: 2px;
  padding-bottom: 20px;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.text-section p {
  padding-bottom: 20px;
  font-size: 21px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.view-gallery-btn {
  padding: 1.35rem 1.2rem;
  color: white;
  background-color: #a80000;
  border: 1px solid #a80000;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: left;
  transition: all 0.3s ease;
}

.view-gallery-btn:hover {
  background-color: white;
  color: #a80000;
  border: 1px solid #a80000;
}


.home-image {
  max-width: 100%;
  width: 87%;
  height: auto;
  margin-top: 20px;
  /* border: 1.5px solid grey; */
  align-items: flex-start;
}

.polaroid {
  display: inline-block;
  height: 400px;
  width: 590px;
  margin-top: 70px;
  margin-right: 60px;
  padding: 12px 1px;
  background: black;
  /* border: 3px solid #ddd; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transform: rotate(-3deg); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.polaroid:hover {
  transform: rotate(0deg) scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.caption{
  color: white;
  font-size: 30px;
  font-family: "Covered By Your Grace", serif;
  margin-bottom: 10px;

}

.upcoming-event{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-right: 50px;
}

.event-title{
  color: #a80000;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  text-align: left;
}

.event-poster {
  display: flex;
  max-width: 100%;
  width: 45%;
  height: auto;
  object-fit: cover;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.event-poster:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}


.event-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.event-details {
  display: flex;
  flex-direction: column;
  text-align:center;
  margin-left: 160px;
  margin-top: 60px;
  border-left: 2px solid #a80000;
  padding-left: 7.5rem;
  height: 470px;
}

.event-name {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #a80000;
}

.event-location {
  font-size: 15px;
  margin-top: 10px;
  color: #a80000;
}

.countdown-clock p{
  font-size: 30px;
  color: #a80000;
}

.ticket-button {
  margin-top: 20px;
  margin-left: 45px;
  padding: 1rem 1.1rem;
  color: white;
  background-color: #a80000;
  border: 1px solid #a80000;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  max-width: 180px;
  transition: all 0.3s ease;
}

.ticket-button:hover {
  background-color: white;
  color: #a80000;
  border: 1px solid #a80000;
}

.stats-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 190px;
  margin-top: 100px;
  margin-bottom: 80px;
  /* align-items: center; */
}

.stat h2{
  font-size: 50px;
  color: #a80000;
}

.stat p{
  font-weight:600;
  font-size: 25px;
}

.chat-form{
  padding: 0.2rem 10rem;
  display: flex;
  flex-direction: column;
  margin-right: 200px; /* Adjust the whole container to the right */
  margin-bottom: 50px;
  text-align: left;
  max-width: 400px;
  width: 100%;
  /* background-color: #f9f9f9; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  gap: 5px
}

.chat-form h3{
  text-align: center;
  margin-left: 80px;
  font-size: 45px;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #a80000;
  width: 140%;
}

.form-group-horizontal{
  display: flex;
  flex-direction: row;
  width: 128%;
  height: 100;
  gap: 220px;

}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: 100%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.form-group input {
  padding: 0.5rem;
  font-size: 16px;
  border: 1.5px solid black;
  border-radius: 1px;
  width: 335%;
}

#firstName{
  width: 360%;
}

#lastName{
  width: 390%;
}

#email{
  width: 202.5%;
  /* height: auto; */
}

#message{
  width: 206.5%;
}

.chat-with-us{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  /* width: 100%; */
}

.chat-logo{
  display: flex;
  justify-content: flex-start;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  margin-left: 115px;
  max-width: 100%;
  width: 72%;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-left: 190px;
}

.social-icon {
  color: black;
  transition: color 0.3s ease-in-out;
}

.social-icon.facebook:hover {
  color: #a80000; 
}

.social-icon.instagram:hover {
  color: #a80000; 
}

.social-icon.twitter:hover {
  color: #a80000; 
}

.social-icon.tiktok:hover {
  color: #a80000; 
}

.social-icon.linkedin:hover {
  color: #a80000; 
}


.chat-submit-btn{
  margin-top: 20px;
  padding: 1.2rem 3rem;
  color: white;
  background-color: #a80000;
  border: 1px solid #a80000;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  width: 208%;
  /* text-align: center; */
  /* max-width: 200px; */
  transition: all 0.3s ease;
}

.chat-submit-btn:hover{
  background-color: white;
  color: #a80000;
  border: 1px solid #a80000;
}

.confirmation-message{
  margin-top: 10px;
  font-size: 14px;
  color: green;
  font-weight: bold;
}
@media (max-width: 768px) {
  .home-image {
    width: 80%; 
  }
}
